.main {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
}

.title {
  background-color: #47b55b;
  padding: 20px;
  font-family: "Secular One", sans-serif;
  color: white;
}

.middleComponent {
  flex-direction: column;
}

.nav-link-actions {
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.advertOne {
  border-style: solid;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 100px;
  border-width: 1px;
}

.advertTwo {
  border-style: solid;
  flex-direction: column;
  padding-right: 100px;
  border-width: 1px;
}

.leftNav {
  padding-left: 20px;
  padding-bottom: 20px;
}

.transfer {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.summaryInfo {
  background-color: #2fc4eb;
  padding: 20px;
  color: white;
}

.mortSav {
  display: flex;
  flex-direction: row;
  color: #32008f;
}

.middleComponent {
  background-color: #47b55b;
  padding: 20px;
  color: white;
}

.leftNav {
  color: #2fc4eb;
  text-decoration: none;
}

.products {
  color: #47b55b;
  padding-left: 20px;
  padding-right: 20px;
}

.navFlexColumn {
  color: #2fc4eb;
}

.mort {
  margin-left: 20px;
}

.actions {
  padding-left: 15px;
  padding-bottom: 20px;
}
