* {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.main {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
  width: 100%;
  height: 100%;
  background-image: url(https://cdn.pixabay.com/photo/2016/02/19/11/23/bicycle-1209682_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  background-color: #47b55b;
  padding: 20px;
  font-family: "Alfa Slab One", cursive;
  font-weight: bolder;
  color: white;
  padding-left: 180px;
  min-width: 1200px;
  letter-spacing: 4px;
}

.middleComponent {
  flex-direction: column;
}

.nav-link-actions {
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.advertOne {
  border-style: solid;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 100px;
  border-width: 1px;
  min-width: 1200px;
  padding: 15px;
}

.advertTwo {
  border-style: solid;
  flex-direction: column;
  padding-right: 100px;
  border-width: 1px;
  margin-right: 100px;
  background-color: white;
  padding: 15px;
}

.leftNav {
  padding-left: 20px;
  padding-bottom: 20px;
  margin-left: 150px;
}

.transfer {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-right: 20px;
  color: white;
}

.summaryInfo {
  background-color: #2fc4eb;
  padding: 20px;
  color: white;
}

.mortSav {
  display: flex;
  flex-direction: row;
  color: #32008f;
  margin-right: 20px;
}

.middleComponent {
  background-color: #47b55b;
  padding: 20px;
  color: white;
}

.products {
  color: #47b55b;
  padding-left: 20px;
  padding-right: 20px;
}

.products h3 {
  color: black;
  font-family: "Oswald", sans-serif;
  border-radius: 10px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.mort {
  margin-left: 20px;
  border-radius: 10px;
  border-style: solid;
  padding: 5px;
  background-color: white;
  font-family: "Oswald", sans-serif;
}

.actions {
  color: white;
  font-family: "Oswald", sans-serif;
  border-radius: 10px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sav {
  margin-left: 20px;
  border-radius: 10px;
  border-style: solid;
  padding: 5px;

  background-color: white;
  font-family: "Oswald", sans-serif;
}
.leftNav li {
  color: white !important;
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
  padding: 10px;
}

@media only screen and (max-width: 1020px) {
  .main {
    display: flex;
    flex-direction: column;
    background-image: none;
    background-color: #47b55b;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  }
  .leftNav {
    order: 2;
  }
  .mortSav {
    order: 1;
    width: 500px;
  }
  .products {
    padding-top: 30px;
    padding-left: 0px;
  }
  .title {
    padding-left: 150px;
  }
  .middleComponent {
    background-color: #32008f;
  }
  .advertTwo {
    display: none;
  }
  .actions {
    margin-top: 30px;
  }
}
